.footer {
  background-color: var(--color-secondary);
  color: var(--color-text-muted);
  padding: 2rem;
  text-align: center;
  margin-top: auto;
  position: relative;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.footer p {
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-link {
  color: var(--color-text-light);
  font-size: 0.9rem;
}

.footer-link:hover {
  color: var(--color-primary);
}

.footer-designer {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  margin-top: 1rem;
}

.footer-designer a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.footer-designer a:hover {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .footer-designer {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    margin-top: 0;
  }
}

.footer-logo {
  height: 15px;
  vertical-align: middle;
  margin-left: 2px;
  width: auto;
}
